-webkit-text-size-adjust: 100%; /* Line 2 */
-webkit-appearance: button; /* In button styles */
::-moz-focus-inner { /* In button styles */
    border-style: none;
    padding: 0;
}
:-moz-focusring { /* In button styles */
    outline: 1px dotted ButtonText;
}
::-webkit-inner-spin-button { /* In number input styles */
    height: auto;
}
::-webkit-outer-spin-button { /* In number input styles */
    height: auto;
}
::-webkit-search-decoration { /* In search input styles */
    -webkit-appearance: none;
}
::-webkit-file-upload-button { /* In file upload button styles */
    -webkit-appearance: button;
}
